.begin {

    text-align: center;
    display: block;
    margin-top: 200px;
    margin-left: 500px;
    width: 800px;
    height: 500px;

    
}

.question-container {
    text-align: center;
}

.questions {
    display: table;
    margin: 0 auto;
    display: none;
}

div {
    outline: 1px solid black;
}